cloudpickle>=1.3.0
ezdxf>=0.14.3 # 0.14.3 requires Python 3.10
gmsh-sdk>=4.6.0
h5py>=3.2.1
matplotlib>=3.10.7  # removed <=3.3.4
meshio>=5
numpy>2
openpyxl  # needed for pandas xlsx import
pandas>=1.0.3
pyfemm>=0.1.3
PySide6;python_version>='3.10' 
# PySide2>=5.15.2;python_version<'3.10'# requires Python <3.10
# PyQt5>=5.15.11 # Works for Pyhton >3.10 but is GPL 
qtpy>=2.4.1
pyuff>=2.4 # for ImportMeshUnv; Block for licence reason --> TODO check
pyvista>=0.42.3
SciDataTool @ git+https://github.com/Eomys/SciDataTool.git
# SciDataTool>=2.5.1
scipy>=1.6.0 # integrate.cumulative_trapezoid is introduced in scipy 1.6.0
setuptools
git+https://gitlab.com/CedMrnl/swat-em.git # TODO use regular swat-em -> remove Winding.plot_radial. This fork uses PySide instead of PyQt.
vtk>=9.2.6 # requires Python <=3.13
xlrd>=1.2.0  # needed for pandas xls import
# xlwt>=1.3.0  # seems unused -> remove later
deap>=1.3.1
git+https://github.com/Eomys/smoot          # Block for new spymoo version compatibility
# smoot
pymoo
ddt>=1.3.1
hypothesis
mock>=4.0.2
nbconvert
nbformat
pytest>=5.4.1
pytest-qt>=3.3.0
sympy
gmsh>=4.12.0
